# Node
#node_modules

npm-debug.log

# Yarn
yarn-error.log

# JetBrains
.idea/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Temporary files
demo/
tmp

# Library files
src/

.angular-cli.json

protractor.conf.js

scripts

e2e
